.btn {
  display: inline-block;
  text-align: center;
  background: var(--primary-gradient-2);
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 32px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .4s background-color;

  &:hover{
    background: var(--primary-gradient-1);
  }

  &--disabled{
    opacity: .4;
    cursor: not-allowed;
  }
}
