.pagination{
  li a{
    padding: 5px 12px;
    font-size: 14px;
    cursor: pointer;
  }

  .disabled a{
    cursor: default;
    opacity: .5;
  }

  li.selected a{
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50%;
  }
}
