:root {
  --color-primary: #622e7d;

  --primary-gradient-1: linear-gradient(to right, #7a258b, #992397);
  --primary-gradient-2: linear-gradient(to right, #992397, #7a258b);

  --color-gray-1: #eef0f2;
  --color-gray-2: #f6f8f9;
  --color-gray-3: #ddd;

  --color-base: #617e8a;
}
