@import "../abstract/mixin";

.main {
  display: flex;
}

//===========================
// Filter
//===========================

.filter {

  &__container {
    background: #fff;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 55px;
    z-index: 99;

    transition: .3s all;

    @include respond(sm) {
      width: 280px;
      left: -100%;
    }
  }

  &__container-content {
    height: inherit;
    display: flex;
    align-self: start;
    flex-direction: column;
    gap: 8px;
    overflow: auto;

    @include respond(sm) {
      padding-right: 16px;
    }
  }

  &__section {
    padding: 24px;
  }

  &__section--search {
    padding: 0;
  }


  &__section-list &__category-wrap:first-child {
    padding-top: 0;
  }

  &__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 8px;
    border-bottom: 1px solid var(--color-gray-3);
  }

  &__reset {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-base)
  }

  &__icon {
    fill: var(--color-gray-3)
  }

  &__by-title, &__category-title {
    color: var(--color-base);
    font-weight: 600;
  }

  &__by-title {
    margin-top: -3px;
    line-height: 1;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 140px;
    overflow: auto;
  }

  &__category-wrap {
    padding: 24px 0;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-gray-3);
    }
  }

  &__category-title {
    font-size: 18px;
  }

  &__category-toggle {
    color: var(--color-primary);
  }

}

.filter--show .filter__container {
  left: 0;
}

//===========================
// Mobile Filter
//===========================

.mobile-filter {
  display: none;
  color: #fff;
  letter-spacing: .5px;

  @include respond(sm) {
    display: flex;
    gap: 4px;
    align-items: center;
    line-height: 1;
  }

  .filter__icon{
    margin-top: 4px;
  }
}

//===========================
// Content
//===========================

.content {
  padding: 16px;
  background: var(--color-gray-1);

  @include respond(sm) {
    padding: 24px;
  }

  &-wrap {
    padding: 24px 48px;
    width: calc(100% - 300px);
    margin-left: auto;

    @include respond(sm) {
      width: 100%;
      margin: 0;
      padding: 16px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 12px;
  }

  &__item-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    flex-grow: 1;

    @include respond(sm) {
      padding: 16px;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__item {
    display: flex;

    @include respond(sm) {
      flex-direction: column;
    }
  }

  &__item-title {
    color: #3f464dcc;
    font-weight: 600;
  }

  &__item-img {
    width: 132px;

    @include respond(sm) {
      height: 220px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__item-btn {
    min-width: 140px;
    font-size: 12px;

    @include respond(sm) {
      width: 100%;
    }
  }

  &__item-date {
    font-weight: 700;
    font-size: 12px;
    color: #a5a5a6;
    margin-left: 6px;

    @include respond(sm) {
      display: block;
      margin-top: 8px;
    }
  }

  &__item-date b, &__item-status-stream {
    color: #7b8d98
  }

  &__item-status-stream {
    margin-top: 4px;
    font-weight: 600;
    font-size: 14px;
  }

  &__empty {
    padding: 16px 0 8px;
    font-weight: 600;
  }
}


